<main id="bt-main" class="bt-main bt-haslayout">
      <section class="bt-sectionspace bt-bglight bt-haslayout">
        <div class="container">
          <div class="row">
            <div class="bt-aboutus">
              <div class="bt-abouttextbox bt-verticalmiddle">
                <h2>We don't follow trends<span>We create them</span></h2>
                <div class="bt-description">
                  <p>It is a long established fact that a reader will be distracted by the readable content of a Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years</p>
                </div>
                <a class="bt-btn bt-btnblack" routerLink="contactus"><span>read more</span></a>
              </div>
              <figure class="bt-aboutimgbox bt-verticalmiddle hidden-xs"><a routerLink="contactus"><img src="/assets/images/camera.jpg" alt="image description"></a></figure>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!--************************************
        Main End
    *************************************-->