 <section>
 <footer id="bt-footer" class="bt-footer bt-haslayout">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="bt-newsletter">
              <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
                <h3>Newsletter</h3>
                <div class="bt-description">
                  <p>Latest Updated from Bhaisaab Get alert for new Events</p>
                </div>
              </div>
              <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                <form method="GET" action="/newsletters" class="bt-formtheme bt-formnewsletter">
                  <fieldset>
                    <input type="email" name="email" class="form-control" placeholder="Enter your E-mail">
                    <button type="submit"><i class="icon-email2"></i></button>
                  </fieldset>
                </form>
              </div>
            </div>
            <div class="bt-instagramgallery">
              <ul>
                <li>
                  <figure><a routerLink="images/instagram/img-01.jpg" data-rel="prettyPhoto[instagramphotos]"><img src="/assets/images/instagram/img-01.jpg" alt="image description"></a></figure>
                  <figure><a routerLink="images/instagram/img-05.jpg" data-rel="prettyPhoto[instagramphotos]"><img src="/assets/images/instagram/img-05.jpg" alt="image description"></a></figure>
                </li>
                <li>
                  <figure><a routerLink="images/instagram/img-02.jpg" data-rel="prettyPhoto[instagramphotos]"><img src="/assets/images/instagram/img-02.jpg" alt="image description"></a></figure>
                  <figure><a routerLink="images/instagram/img-06.jpg" data-rel="prettyPhoto[instagramphotos]"><img src="/assets/images/instagram/img-06.jpg" alt="image description"></a></figure>
                  <figure><a routerLink="images/instagram/img-08.jpg" data-rel="prettyPhoto[instagramphotos]"><img src="/assets/images/instagram/img-08.jpg" alt="image description"></a></figure>
                </li>
                <li>
                  <figure><a routerLink="images/instagram/img-03.jpg" data-rel="prettyPhoto[instagramphotos]"><img src="/assets/images/instagram/img-03.jpg" alt="image description"></a></figure>
                  <figure><a routerLink="images/instagram/img-07.jpg" data-rel="prettyPhoto[instagramphotos]"><img src="/assets/images/instagram/img-07.jpg" alt="image description"></a></figure>
                </li>
                <li><figure><a routerLink="images/instagram/img-04.jpg" data-rel="prettyPhoto[instagramphotos]"><img src="/assets/images/instagram/img-04.jpg" alt="image description"></a></figure></li>
              </ul>
              <div class="bt-instagrambox">
                <i><img src="/assets/images/icons/icon-02.png" alt="image description"></i>
                <span>@bhaisaab.co</span>
                <a class="bt-btn bt-btnblack bt-btn-lg" routerLink="javascript:void(0);"><span>follow now</span></a>
              </div>
            </div>
            <div class="bt-footerbar">
              <div class="bt-navandcopyright">
                <nav class="bt-addnav">
                  <ul>
                    <li><a routerLink="/bhaisaab/">Home</a></li>
                    <li><a routerLink="/faq">FAQ</a></li>
                    <li><a routerLink="/terms-conditions">TERMS OF SERVICES</a></li>
                    <li><a routerLink="/privacy-policy">PRIVACY &amp; COOKIES</a></li>
                    <li><a routerLink="/careers">CAREERS</a></li>
                    <li><a routerLink="/countactus">CONTACT US</a></li>
                    <li><a routerLink="/countactus">BECOME PARTENER</a></li>
                    <li><a routerLink="/pricing">PRICING</a></li>
                  </ul>
                </nav>
                <span class="bt-copyright">Copyrights 2019 Bhaisaab. All rights reserved</span>
              </div>
              <div class="bt-followus">
                <span>follow us</span>
                <ul class="bt-socialicons">
                  <li><a routerLink="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                  <li><a routerLink="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                  <li><a routerLink="javascript:void(0);"><i class="fa fa-instagram"></i></a></li>
                  <li><a routerLink="javascript:void(0);"><i class="fa fa-google-plus"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    </section>