<div class="bt-sectionspace bt-haslayout">
        <div class="container">
          <div class="row">
            <div class="bt-photogallery">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="bt-pageheadcontent">
                  <h2>Photo Gallery</h2>
                  <div class="bt-description">
                    <p>We do not believe in words. Action speaks louder. Check our our below work</p>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div id="" class="bt-indexfourphotogallery cbp">
                  <div class="cbp-item">
                    <article class="bt-album">
                      <figure>
                        <a routerLink="/assets/images/portfolios/image5.jpg" data-rel="prettyPhoto[kids]"><img src="/assets/images/index4/album/kids/img-01.jpg" alt="Kids Special Album"></a>
                        <a routerLink="/assets/images/index4/album/kids/img-02.jpg" data-rel="prettyPhoto[kids]"><img src="/assets/images/index4/album/kids/img-02.jpg" alt="Kids Special Album"></a>
                        <a routerLink="/assets/images/index4/album/kids/img-03.jpg" data-rel="prettyPhoto[kids]"><img src="/assets/images/index4/album/kids/img-03.jpg" alt="Kids Special Album"></a>
                        <a routerLink="/assets/images/index4/album/kids/img-04.jpg" data-rel="prettyPhoto[kids]"><img src="/assets/images/index4/album/kids/img-04.jpg" alt="Kids Special Album"></a>
                        <a routerLink="/assets/images/index4/album/kids/img-05.jpg" data-rel="prettyPhoto[kids]"><img src="/assets/images/index4/album/kids/img-05.jpg" alt="Kids Special Album"></a>
                        <figcaption>
                          
                          <div class="bt-titleandinfo">
                            <div class="bt-albumtitle">
                              <h3><a routerLink="javascript:void(0);">Kids Special album</a></h3>
                            </div>
                            <ul class="bt-shareandlikes">
                              <li>
                                <div class="bt-shapreicons">
                                  <a routerLink="javascript:void(0);"><i class="fa fa-twitter"></i></a>
                                  <a routerLink="javascript:void(0);"><i class="fa fa-facebook"></i></a>
                                  <a routerLink="javascript:void(0);"><i class="fa fa-pinterest-p"></i></a>
                                </div>
                                <a class="bt-btnshare" routerLink="javascript:void(0);">
                                  <span class="icon-share4"></span>
                                  <span>Share</span>
                                </a>
                              </li>
                              <li>
                                <a routerLink="javascript:void(0);">
                                  <span class="icon-heart12"></span>
                                  <span>23</span>
                                </a>
                              </li>
                            </ul>
                          </div>
                        </figcaption>
                      </figure>
                    </article>
                  </div>
                  <div class="cbp-item">
                    <article class="bt-album">
                      <figure>
                        <a routerLink="/assets/images/index4/album/twinsister/img-01.jpg" data-rel="prettyPhoto[twinsister]"><img src="/assets/images/index4/album/twinsister/img-01.jpg" alt="Twin Sister Album"></a>
                        <a routerLink="/assets/images/index4/album/twinsister/img-02.jpg" data-rel="prettyPhoto[twinsister]"><img src="/assets/images/index4/album/twinsister/img-02.jpg" alt="Twin Sister Album"></a>
                        <a routerLink="/assets/images/index4/album/twinsister/img-03.jpg" data-rel="prettyPhoto[twinsister]"><img src="/assets/images/index4/album/twinsister/img-03.jpg" alt="Twin Sister Album"></a>
                        <a routerLink="/assets/images/index4/album/twinsister/img-04.jpg" data-rel="prettyPhoto[twinsister]"><img src="/assets/images/index4/album/twinsister/img-04.jpg" alt="Twin Sister Album"></a>
                        <a routerLink="/assets/images/index4/album/twinsister/img-05.jpg" data-rel="prettyPhoto[twinsister]"><img src="/assets/images/index4/album/twinsister/img-05.jpg" alt="Twin Sister Album"></a>
                        <figcaption>
                          <div class="bt-titleandinfo">
                            <div class="bt-albumtitle">
                              <h3><a routerLink="javascript:void(0);">Twin Sister Album</a></h3>
                            </div>
                            <ul class="bt-shareandlikes">
                              <li>
                                <div class="bt-shapreicons">
                                  <a routerLink="javascript:void(0);"><i class="fa fa-twitter"></i></a>
                                  <a routerLink="javascript:void(0);"><i class="fa fa-facebook"></i></a>
                                  <a routerLink="javascript:void(0);"><i class="fa fa-pinterest-p"></i></a>
                                </div>
                                <a class="bt-btnshare" routerLink="javascript:void(0);">
                                  <span class="icon-share4"></span>
                                  <span>Share</span>
                                </a>
                              </li>
                              <li>
                                <a routerLink="javascript:void(0);">
                                  <span class="icon-heart12"></span>
                                  <span>23</span>
                                </a>
                              </li>
                            </ul>
                          </div>
                        </figcaption>
                      </figure>
                    </article>
                  </div >
                  <div class="cbp-item">
                    <article class="bt-album">
                      <figure>
                        <a routerLink="/assets/images/index4/album/halloweencustom/img-01.jpg" data-rel="prettyPhoto[halloweencustom]"><img src="/assets/images/index4/album/halloweencustom/img-01.jpg" alt="Halloween Custom Album"></a>
                        <a routerLink="/assets/images/index4/album/halloweencustom/img-02.jpg" data-rel="prettyPhoto[halloweencustom]"><img src="/assets/images/index4/album/halloweencustom/img-02.jpg" alt="Halloween Custom Album"></a>
                        <a routerLink="/assets/images/index4/album/halloweencustom/img-03.jpg" data-rel="prettyPhoto[halloweencustom]"><img src="/assets/images/index4/album/halloweencustom/img-03.jpg" alt="Halloween Custom Album"></a>
                        <a routerLink="/assets/images/index4/album/halloweencustom/img-04.jpg" data-rel="prettyPhoto[halloweencustom]"><img src="/assets/images/index4/album/halloweencustom/img-04.jpg" alt="Halloween Custom Album"></a>
                        <figcaption>
                          <div class="bt-titleandinfo">
                            <div class="bt-albumtitle">
                              <h3><a routerLink="javascript:void(0);">Halloween Custom album</a></h3>
                            </div>
                            <ul class="bt-shareandlikes">
                              <li>
                                <div class="bt-shapreicons">
                                  <a routerLink="javascript:void(0);"><i class="fa fa-twitter"></i></a>
                                  <a routerLink="javascript:void(0);"><i class="fa fa-facebook"></i></a>
                                  <a routerLink="javascript:void(0);"><i class="fa fa-pinterest-p"></i></a>
                                </div>
                                <a class="bt-btnshare" routerLink="javascript:void(0);">
                                  <span class="icon-share4"></span>
                                  <span>Share</span>
                                </a>
                              </li>
                              <li>
                                <a routerLink="javascript:void(0);">
                                  <span class="icon-heart12"></span>
                                  <span>23</span>
                                </a>
                              </li>
                            </ul>
                          </div>
                        </figcaption>
                      </figure>
                    </article>
                  </div>
                  <div class="cbp-item">
                    <article class="bt-album">
                      <figure>
                        <a routerLink="/assets/images/index4/album/femalemodal/img-01.jpg" data-rel="prettyPhoto[femalemodal]"><img src="/assets/images/index4/album/femalemodal/img-01.jpg" alt="Female Modal Album"></a>
                        <a routerLink="/assets/images/index4/album/femalemodal/img-02.jpg" data-rel="prettyPhoto[femalemodal]"><img src="/assets/images/index4/album/femalemodal/img-02.jpg" alt="Female Modal Album"></a>
                        <a routerLink="/assets/images/index4/album/femalemodal/img-03.jpg" data-rel="prettyPhoto[femalemodal]"><img src="/assets/images/index4/album/femalemodal/img-03.jpg" alt="Female Modal Album"></a>
                        <a routerLink="/assets/images/index4/album/femalemodal/img-04.jpg" data-rel="prettyPhoto[femalemodal]"><img src="/assets/images/index4/album/femalemodal/img-04.jpg" alt="Female Modal Album"></a>
                        <a routerLink="/assets/images/index4/album/femalemodal/img-05.jpg" data-rel="prettyPhoto[femalemodal]"><img src="/assets/images/index4/album/femalemodal/img-05.jpg" alt="Female Modal Album"></a>
                        <a routerLink="/assets/images/index4/album/femalemodal/img-06.jpg" data-rel="prettyPhoto[femalemodal]"><img src="/assets/images/index4/album/femalemodal/img-06.jpg" alt="Female Modal Album"></a>
                        <figcaption>
                          <div class="bt-titleandinfo">
                            <div class="bt-albumtitle">
                              <h3><a routerLink="javascript:void(0);">Female Modal album</a></h3>
                            </div>
                            <ul class="bt-shareandlikes">
                              <li>
                                <div class="bt-shapreicons">
                                  <a routerLink="javascript:void(0);"><i class="fa fa-twitter"></i></a>
                                  <a routerLink="javascript:void(0);"><i class="fa fa-facebook"></i></a>
                                  <a routerLink="javascript:void(0);"><i class="fa fa-pinterest-p"></i></a>
                                </div>
                                <a class="bt-btnshare" routerLink="javascript:void(0);">
                                  <span class="icon-share4"></span>
                                  <span>Share</span>
                                </a>
                              </li>
                              <li>
                                <a routerLink="javascript:void(0);">
                                  <span class="icon-heart12"></span>
                                  <span>23</span>
                                </a>
                              </li>
                            </ul>
                          </div>
                        </figcaption>
                      </figure>
                    </article>
                  </div>
                  <div class="cbp-item">
                    <article class="bt-album">
                      <figure>
                        <a routerLink="/assets/images/index4/album/foods/img-01.jpg" data-rel="prettyPhoto[foods]"><img src="/assets/images/index4/album/foods/img-01.jpg" alt="Foods Album"></a>
                        <a routerLink="/assets/images/index4/album/foods/img-02.jpg" data-rel="prettyPhoto[foods]"><img src="/assets/images/index4/album/foods/img-02.jpg" alt="Foods Album"></a>
                        <a routerLink="/assets/images/index4/album/foods/img-03.jpg" data-rel="prettyPhoto[foods]"><img src="/assets/images/index4/album/foods/img-03.jpg" alt="Foods Album"></a>
                        <a routerLink="/assets/images/index4/album/foods/img-04.jpg" data-rel="prettyPhoto[foods]"><img src="/assets/images/index4/album/foods/img-04.jpg" alt="Foods Album"></a>
                        
                        <figcaption>
                          <div class="bt-titleandinfo">
                            <div class="bt-albumtitle">
                              <h3><a routerLink="javascript:void(0);">Foods album</a></h3>
                            </div>
                            <ul class="bt-shareandlikes">
                              <li>
                                <div class="bt-shapreicons">
                                  <a routerLink="javascript:void(0);"><i class="fa fa-twitter"></i></a>
                                  <a routerLink="javascript:void(0);"><i class="fa fa-facebook"></i></a>
                                  <a routerLink="javascript:void(0);"><i class="fa fa-pinterest-p"></i></a>
                                </div>
                                <a class="bt-btnshare" routerLink="javascript:void(0);">
                                  <span class="icon-share4"></span>
                                  <span>Share</span>
                                </a>
                              </li>
                              <li>
                                <a routerLink="javascript:void(0);">
                                  <span class="icon-heart12"></span>
                                  <span>23</span>
                                </a>
                              </li>
                            </ul>
                          </div>
                        </figcaption>
                      </figure>
                    </article>
                  </div>
                  <div class="cbp-item">
                    <article class="bt-album">
                      <figure>
                        <a routerLink="/assets/images/index4/album/couple/img-01.jpg" data-rel="prettyPhoto[couple]"><img src="/assets/images/index4/album/couple/img-01.jpg" alt="Couple Album"></a>
                        <a routerLink="/assets/images/index4/album/couple/img-02.jpg" data-rel="prettyPhoto[couple]"><img src="/assets/images/index4/album/couple/img-02.jpg" alt="Couple Album"></a>
                        <a routerLink="/assets/images/index4/album/couple/img-03.jpg" data-rel="prettyPhoto[couple]"><img src="/assets/images/index4/album/couple/img-03.jpg" alt="Couple Album"></a>
                        <a routerLink="/assets/images/index4/album/couple/img-04.jpg" data-rel="prettyPhoto[couple]"><img src="/assets/images/index4/album/couple/img-04.jpg" alt="Couple Album"></a>
                        <a routerLink="/assets/images/index4/album/couple/img-05.jpg" data-rel="prettyPhoto[couple]"><img src="/assets/images/index4/album/couple/img-05.jpg" alt="Couple Album"></a>
                        
                        <figcaption>
                          <div class="bt-titleandinfo">
                            <div class="bt-albumtitle">
                              <h3><a routerLink="javascript:void(0);">Couple Album</a></h3>
                            </div>
                            <ul class="bt-shareandlikes">
                              <li>
                                <div class="bt-shapreicons">
                                  <a routerLink="javascript:void(0);"><i class="fa fa-twitter"></i></a>
                                  <a routerLink="javascript:void(0);"><i class="fa fa-facebook"></i></a>
                                  <a routerLink="javascript:void(0);"><i class="fa fa-pinterest-p"></i></a>
                                </div>
                                <a class="bt-btnshare" routerLink="javascript:void(0);">
                                  <span class="icon-share4"></span>
                                  <span>Share</span>
                                </a>
                              </li>
                              <li>
                                <a routerLink="javascript:void(0);">
                                  <span class="icon-heart12"></span>
                                  <span>23</span>
                                </a>
                              </li>
                            </ul>
                          </div>
                        </figcaption>
                      </figure>
                    </article>
                  </div>
                </div>
              </div>
              <div id="bt-loadMore" class="bt-btnboxloadmore bt-sectionspace cbp-l-loadMore-button">
                <a routerLink="loadmore/indexfourloadMore.html" class="cbp-l-loadMore-link" rel="nofollow">
                  <span class="cbp-l-loadMore-defaultText">LOAD MORE (<span class="cbp-l-loadMore-loadItems">2</span>)</span>
                  <span class="cbp-l-loadMore-loadingText">LOADING...</span>
                  <span class="cbp-l-loadMore-noMoreLoading">NO MORE WORKS</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>