<!--************************************
        Home Slider Start
    *************************************-->
    <section>
    <div class="bt-homeslider bt-haslayout">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div id="bt-sliderfour" class="bt-sliderfour">
              <div class="bt-item">
                <div class="bt-imgbox">
                  <figure><img src="/assets/images/portfolios/image1.jpg" alt="image description"></figure>
                  <figure><img src="/assets/images/portfolios/image2.jpg" alt="image description"></figure>
                  <figure><img src="/assets/images/portfolios/image3.jpg" alt="image description"></figure>
                  <figure><img src="/assets/images/portfolios/image4.jpg" alt="image description"></figure>
                </div>
                <div class="bt-contentbox">
                  <div class="bt-postcontent">
                    <ul class="bt-postmatadata">
                      <li>
                        <div class="bt-authorimgname">
                          <a routerLink="javascript:void(0);"><img src="/assets/images/portfolios/image5.jpg" alt="image description"></a>
                          <span>by: <a routerLink="javascript:void(0);">Shashank</a></span>
                        </div>
                      </li>
                      <li><!-- <time datetime="2011-01-01">2018 - 07 - 12</time> --></li>
                    </ul>
                    <div class="bt-categoryposttitle">
                      <h3>Wedding Photography</h3>
                    </div>
                    <div class="bt-description">
                      <!-- <p>It is a long established fact that a reader will be distracted by the </p> -->
                    </div>
                    <a class="bt-btn bt-btnblack" routerLink="/bhaisaab/portfolio"><span>explore</span></a>
                    <ul class="bt-shareandlikes">
                      <li>
                        <div class="bt-shapreicons">
                          <a routerLink="javascript:void(0);"><i class="fa fa-twitter"></i></a>
                          <a routerLink="javascript:void(0);"><i class="fa fa-facebook"></i></a>
                          <a routerLink="javascript:void(0);"><i class="fa fa-pinterest-p"></i></a>
                        </div>
                        <a class="bt-btnshare" routerLink="javascript:void(0);">
                          <span class="icon-share4"></span>
                          <span>Share</span>
                        </a>
                      </li>
                      <li>
                        <a routerLink="javascript:void(0);">
                          <span class="icon-heart12"></span>
                          <span>23</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="bt-item">
                <div class="bt-imgbox">
                  <figure><img src="/assets/images/portfolios/image5.jpg" alt="image description"></figure>
                  <figure><img src="/assets/images/portfolios/image6.jpg" alt="image description"></figure>
                  <figure><img src="/assets/images/portfolios/image7.jpg" alt="image description"></figure>
                  <figure><img src="/assets/images/portfolios/image8.jpg" alt="image description"></figure>
                </div>
                <div class="bt-contentbox">
                  <div class="bt-postcontent">
                    <ul class="bt-postmatadata">
                      <li>
                        <div class="bt-authorimgname">
                          <a routerLink="javascript:void(0);"><img src="/assets/images/authors/img-01.jpg" alt="image description"></a>
                          <span>by: <a routerLink="javascript:void(0);">Shashank</a></span>
                        </div>
                      </li>
                      <li><!-- <time datetime="2011-01-01">2017 - 03 - 12</time> --></li>
                    </ul>
                    <div class="bt-categoryposttitle">
                      <h3>Fashion Photography</h3>
                    </div>
                    <div class="bt-description">
                      <p>It is a long established fact that a reader will be distracted by the</p>
                    </div>
                    <a class="bt-btn bt-btnblack" routerLink="/bhaisaab/portfolio"><span>explore</span></a>
                    <ul class="bt-shareandlikes">
                      <li>
                        <div class="bt-shapreicons">
                          <a routerLink="javascript:void(0);"><i class="fa fa-twitter"></i></a>
                          <a routerLink="javascript:void(0);"><i class="fa fa-facebook"></i></a>
                          <a routerLink="javascript:void(0);"><i class="fa fa-pinterest-p"></i></a>
                        </div>
                        <a class="bt-btnshare" routerLink="javascript:void(0);">
                          <span class="icon-share4"></span>
                          <span>Share</span>
                        </a>
                      </li>
                      <li>
                        <a routerLink="javascript:void(0);">
                          <span class="icon-heart12"></span>
                          <span>23</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="bt-item">
                <div class="bt-imgbox">
                   <figure><img src="/assets/images/portfolios/image9.jpg" alt="image description"></figure>
                   <figure><img src="/assets/images/portfolios/image10.jpg" alt="image description"></figure>
                   <figure><img src="/assets/images/portfolios/image11.jpg" alt="image description"></figure>
                   <figure><img src="/assets/images/portfolios/image12.jpg" alt="image description"></figure>
                </div>
                <div class="bt-contentbox">
                  <div class="bt-postcontent">
                    <ul class="bt-postmatadata">
                      <li>
                        <div class="bt-authorimgname">
                          <a routerLink="javascript:void(0);"><img src="/assets/images/authors/img-01.jpg" alt="image description"></a>
                          <span>by: <a routerLink="javascript:void(0);">Shashank</a></span>
                        </div>
                      </li>
                      <li><!-- <time datetime="2011-01-01">2017 - 11 - 11</time> --></li>
                    </ul>
                    <div class="bt-categoryposttitle">
                      <h3>Pre Wedding Collection</h3>
                    </div>
                    <div class="bt-description">
                      <p>It is a long established fact that a reader will be distracted by the</p>
                    </div>
                    <a class="bt-btn bt-btnblack" routerLink="portfoliovfive.html"><span>explore</span></a>
                    <ul class="bt-shareandlikes">
                      <li>
                        <div class="bt-shapreicons">
                          <a routerLink="javascript:void(0);"><i class="fa fa-twitter"></i></a>
                          <a routerLink="javascript:void(0);"><i class="fa fa-facebook"></i></a>
                          <a routerLink="javascript:void(0);"><i class="fa fa-pinterest-p"></i></a>
                        </div>
                        <a class="bt-btnshare" routerLink="javascript:void(0);">
                          <span class="icon-share4"></span>
                          <span>Share</span>
                        </a>
                      </li>
                      <li>
                        <a routerLink="javascript:void(0);">
                          <span class="icon-heart12"></span>
                          <span>23</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="bt-item">
                <div class="bt-imgbox">
                   <figure><img src="/assets/images/portfolios/image13.jpg" alt="image description"></figure>
                   <figure><img src="/assets/images/portfolios/image14.jpg" alt="image description"></figure>
                   <figure><img src="/assets/images/portfolios/image15.jpg" alt="image description"></figure>
                   <figure><img src="/assets/images/portfolios/image16.jpg" alt="image description"></figure>
                </div>
                <div class="bt-contentbox">
                  <div class="bt-postcontent">
                    <ul class="bt-postmatadata">
                      <li>
                        <div class="bt-authorimgname">
                          <a routerLink="javascript:void(0);"><img src="/assets/images/authors/img-01.jpg" alt="image description"></a>
                          <span>by: <a routerLink="javascript:void(0);">Shashank</a></span>
                        </div>
                      </li>
                      <li><!-- <time datetime="2011-01-01">2017 - 07 - 12</time> --></li>
                    </ul>
                    <div class="bt-categoryposttitle">
                      <h3>Food Photography</h3>
                    </div>
                    <div class="bt-description">
                      <p>Even if you have nothing to do you will eat.</p>
                    </div>
                    <a class="bt-btn bt-btnblack" routerLink="portfoliovfour.html"><span>explore</span></a>
                    <ul class="bt-shareandlikes">
                      <li>
                        <div class="bt-shapreicons">
                          <a routerLink="javascript:void(0);"><i class="fa fa-twitter"></i></a>
                          <a routerLink="javascript:void(0);"><i class="fa fa-facebook"></i></a>
                          <a routerLink="javascript:void(0);"><i class="fa fa-pinterest-p"></i></a>
                        </div>
                        <a class="bt-btnshare" routerLink="javascript:void(0);">
                          <span class="icon-share4"></span>
                          <span>Share</span>
                        </a>
                      </li>
                      <li>
                        <a routerLink="javascript:void(0);">
                          <span class="icon-heart12"></span>
                          <span>23</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="bt-item">
                <div class="bt-imgbox">
                   <figure><img src="/assets/images/portfolios/image1.jpg" alt="image description"></figure>
                   <figure><img src="/assets/images/portfolios/image2.jpg" alt="image description"></figure>
                   <figure><img src="/assets/images/portfolios/image3.jpg" alt="image description"></figure>
                   <figure><img src="/assets/images/portfolios/image4.jpg" alt="image description"></figure>
                </div>
                <div class="bt-contentbox">
                  <div class="bt-postcontent">
                    <ul class="bt-postmatadata">
                      <li>
                        <div class="bt-authorimgname">
                          <a routerLink="javascript:void(0);"><img src="/assets/images/authors/img-01.jpg" alt="image description"></a>
                          <span>by: <a routerLink="javascript:void(0);">Shashank</a></span>
                        </div>
                      </li>
                      <li><!-- <time datetime="2011-01-01">2017 - 07 - 12</time> --></li>
                    </ul>
                    <div class="bt-categoryposttitle">
                      <h3>Baby Photography</h3>
                    </div>
                    <div class="bt-description">
                      <p>It is a long established fact that a reader will be distracted by the</p>
                    </div>
                    <a class="bt-btn bt-btnblack" routerLink="portfoliovone.html"><span>explore</span></a>
                    <ul class="bt-shareandlikes">
                      <li>
                        <div class="bt-shapreicons">
                          <a routerLink="javascript:void(0);"><i class="fa fa-twitter"></i></a>
                          <a routerLink="javascript:void(0);"><i class="fa fa-facebook"></i></a>
                          <a routerLink="javascript:void(0);"><i class="fa fa-pinterest-p"></i></a>
                        </div>
                        <a class="bt-btnshare" routerLink="javascript:void(0);">
                          <span class="icon-share4"></span>
                          <span>Share</span>
                        </a>
                      </li>
                      <li>
                        <a routerLink="javascript:void(0);">
                          <span class="icon-heart12"></span>
                          <span>23</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </section>
    <!--************************************
        Home Slider End
    *************************************-->