<section>
	<div class="container-fluid">
		<div class="container">
		    <div class="bt-photogallery">
	              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	                <div class="bt-pageheadcontent">
	                  <h2>Projects</h2>
	                  <div class="bt-description">
	                    <p>We do not believe in words. Action speaks louder. Check our our below work</p>
	                  </div>
	                </div>
	              </div>
	        
	   </div>
	</div>
		<div class="container">
			<div class="row">
				<div class="col-md-4 ">			
				<div class="bo-vendorsimg">
				  <img src="assets/images/bg/image.png" >
				  <div class="row">
				  	<div class="col-md-6">
				      <p><b>Sapna Make Up Artist</b></p>
				  	</div>
				  	<div class="col-md-6">
				      <p><b>Chennai</b></p>
				  	</div>
				  </div>
				  <div class="row">
				  	<div class="col-md-6">
				      <p><b>₹ 15,00,000</b></p>
				  	</div>
				  	<div class="col-md-6">
				      <p>For 1 session</p>
				  	</div>
				  </div>
                    <p></p>
				</div>
			  </div>
			  <div class="col-md-8">
			  	<p> The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here, making it look like readable English There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form injected humour</p>
			  </div>
			</div>
		</div>
	</div>
</section>