<section style="background-color: #eee;padding-bottom: 50px;">
<div class="container-fluid">
<div class="container">
	<div class="bt-photogallery">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="bt-pageheadcontent">
          <h2>Occasions</h2>
        </div>
      </div>
  </div>
</div>
	<div class="container">
		<div class="row">	
			 <div class="col-md-3">			
				<div class="bo-occasion">
				  <img src="assets/images/occasion/image-1.jpg">
				  <div class="centered"><a href="/#/theme"> Theme based parties</a></div>
				  <a href="">
				  <p><button class="bo-profilebtn">Book Now</button></p>
				  </a>
				</div>
			  </div>
			   <div class="col-md-3">			
				<div class="bo-occasion">
				  <img src="assets/images/occasion/image-2.jpg">
				  <div class="centered"><a href="/#/theme"> Weddings</a></div>
				  <a href="">
				  <p><button class="bo-profilebtn">Book Now</button></p>
				  </a>
				</div>
			  </div>
			  <div class="col-md-3">			
				<div class="bo-occasion">
				  <img src="assets/images/occasion/image-3.jpg">
				  <div class="centered"><a href="/#/theme"> Corporate Events & Meetings</a></div>
				  <a href="">
				  <p><button class="bo-profilebtn">Book Now</button></p>
				 </a>
				</div>
			  </div>
			  <div class="col-md-3">			
				<div class="bo-occasion">
				  <img src="assets/images/occasion/image-4.jpg">
				  <div class="centered"><a href="/#/theme"> portfolio shoots</a></div>
				  <a href="">
				  <p><button class="bo-profilebtn">Book Now</button></p>
		           </a>
				</div>
			  </div>
			</div>
		   <div style="text-align: center;">
			<button class="btn" style="background-color: #333; color: #fff">View More</button>
		</div>
       </div>
      </div>
     </section> 
