<section style="background-color: #eee;">
	<div class="container-fluid">
		<div class="container">
	    <div class="row">
	      <div class="bt-photogallery">
	          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	             <div class="bt-pageheadcontent">
                  <h2>Theme Based Party</h2>
                </div>
              </div>
            </div>
        </div>
      </div>
		<div class="container ">
			<div class="row">
			<div class="col-md-7 bo-themeimg">			
				<div>
				  <img src="assets/images/bg/image.png">
				  <div class="row">
				  	<div class="col-md-6">
				      <p><b>MUMBAI</b> <br>Kshetra Mahabaleshwar</p>
				  	</div>
				  	<div class="col-md-6">
				      <p><b>PROPERTY TYPE</b> <br>5 Star Hotel,Hotel,Banquet Hall,Resort</p>
				  	</div>
				  </div>
				  <div class="row">
				  	<div class="col-md-6">
				      <p><b>MIN. PER DAY CHARGE</b> <br>₹ 15,00,000</p>
				  	</div>
				  	<div class="col-md-6">
				      <p><b>PROPERTY TYPE</b> <br>5 Star Hotel,Hotel,Banquet Hall,Resort</p>
				  	</div>
				  </div>
                    <p></p>
				</div>
			  </div>
			  <div class="col-md-5">
			  	<div class="row">	
				 <div class="col-md-6">			
					<div class="bo-profileimg">
					  <img src="assets/images/profile/image-1.jpg" alt="John">
					  <a href="/#/profile-details">
					  </a>
					</div>
				  </div>
				  <div class="col-md-6">			
					<div class="bo-profileimg">
					  <img src="assets/images/profile/image-1.jpg" alt="John">
					  <a href="/#/profile-details">
					 </a>
					</div>
				  </div>
				  <div class="col-md-6" style="margin-top: 30px;">			
					<div class="bo-profileimg">
					  <img src="assets/images/profile/image-1.jpg" alt="John">
					  <a href="/#/profile-details">
			           </a>
					</div>
				  </div>
				  <div class="col-md-6" style="margin-top: 30px;">			
					<div class="bo-profileimg">
					  <img src="assets/images/profile/image-1.jpg" alt="John">
					  <a href="/#/profile-details">
			           </a>
					</div>
				  </div>
				</div>
			  </div>
			</div>
			<div class="bo-themebtn">
				<button class="btn">View More</button>
			</div>
		</div>
	</div>
</section>
