<section>
<div class="bt-innerpagebanner bt-innerpagebannerv3 bt-photographer">
  <div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="bt-innerbannercontent">
				<h1>John Smith</h1>
			</div>
		</div>
	</div>
</div>
</div>
	<!--************************************
			Inner Page Banner End
	*************************************-->
	<!--************************************
			Main Start
	*************************************-->
	<main id="bt-main" class="bt-main bt-haslayout">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div id="bt-content" class="bt-content">
						<div class="bt-photogallery bt-photographergallery">
							<div class="bt-aboutphotographer">
								<h2>John Smith</h2>
								<h3>Senior Photographer</h3>
								<h4>I’m a Professinal wild life photographer</h4>
								<div class="bt-description">
									<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed. There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour or randomised words</p>
								</div>
								<ul class="bt-socialicons">
									<li><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
									<li><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
									<li><a href="javascript:void(0);"><i class="fa fa-instagram"></i></a></li>
								</ul>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 bt-loadmorephotographer">
								<div class="bt-album">
									<figure>
										<a href="images/gallery/img-24.jpg" data-rel="prettyPhoto[galleryvfour]">
											<img src="images/gallery/img-24.jpg" alt="image description">
										</a>
									</figure>
								</div>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 bt-loadmorephotographer">
								<div class="bt-album">
									<figure>
										<a href="images/gallery/img-25.jpg" data-rel="prettyPhoto[galleryvfour]">
											<img src="images/gallery/img-25.jpg" alt="image description">
										</a>
									</figure>
								</div>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 bt-loadmorephotographer">
								<div class="bt-album">
									<figure>
										<a href="images/gallery/img-26.jpg" data-rel="prettyPhoto[galleryvfour]">
											<img src="images/gallery/img-26.jpg" alt="image description">
										</a>
									</figure>
								</div>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 bt-loadmorephotographer">
								<div class="bt-album">
									<figure>
										<a href="images/gallery/img-27.jpg" data-rel="prettyPhoto[galleryvfour]">
											<img src="images/gallery/img-27.jpg" alt="image description">
										</a>
									</figure>
								</div>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 bt-loadmorephotographer">
								<div class="bt-album">
									<figure>
										<a href="images/gallery/img-28.jpg" data-rel="prettyPhoto[galleryvfour]">
											<img src="images/gallery/img-28.jpg" alt="image description">
										</a>
									</figure>
								</div>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 bt-loadmorephotographer">
								<div class="bt-album">
									<figure>
										<a href="images/gallery/img-29.jpg" data-rel="prettyPhoto[galleryvfour]">
											<img src="images/gallery/img-29.jpg" alt="image description">
										</a>
									</figure>
								</div>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 bt-loadmorephotographer">
								<div class="bt-album">
									<figure>
										<a href="images/gallery/img-30.jpg" data-rel="prettyPhoto[galleryvfour]">
											<img src="images/gallery/img-30.jpg" alt="image description">
										</a>
									</figure>
								</div>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 bt-loadmorephotographer">
								<div class="bt-album">
									<figure>
										<a href="images/gallery/img-31.jpg" data-rel="prettyPhoto[galleryvfour]">
											<img src="images/gallery/img-31.jpg" alt="image description">
										</a>
									</figure>
								</div>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 bt-loadmorephotographer">
								<div class="bt-album">
									<figure>
										<a href="images/gallery/img-24.jpg" data-rel="prettyPhoto[galleryvfour]">
											<img src="images/gallery/img-24.jpg" alt="image description">
										</a>
									</figure>
								</div>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 bt-loadmorephotographer">
								<div class="bt-album">
									<figure>
										<a href="images/gallery/img-25.jpg" data-rel="prettyPhoto[galleryvfour]">
											<img src="images/gallery/img-25.jpg" alt="image description">
										</a>
									</figure>
								</div>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 bt-loadmorephotographer">
								<div class="bt-album">
									<figure>
										<a href="images/gallery/img-26.jpg" data-rel="prettyPhoto[galleryvfour]">
											<img src="images/gallery/img-26.jpg" alt="image description">
										</a>
									</figure>
								</div>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 bt-loadmorephotographer">
								<div class="bt-album">
									<figure>
										<a href="images/gallery/img-27.jpg" data-rel="prettyPhoto[galleryvfour]">
											<img src="images/gallery/img-27.jpg" alt="image description">
										</a>
									</figure>
								</div>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 bt-loadmorephotographer">
								<div class="bt-album">
									<figure>
										<a href="images/gallery/img-28.jpg" data-rel="prettyPhoto[galleryvfour]">
											<img src="images/gallery/img-28.jpg" alt="image description">
										</a>
									</figure>
								</div>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 bt-loadmorephotographer">
								<div class="bt-album">
									<figure>
										<a href="images/gallery/img-29.jpg" data-rel="prettyPhoto[galleryvfour]">
											<img src="images/gallery/img-29.jpg" alt="image description">
										</a>
									</figure>
								</div>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 bt-loadmorephotographer">
								<div class="bt-album">
									<figure>
										<a href="images/gallery/img-30.jpg" data-rel="prettyPhoto[galleryvfour]">
											<img src="images/gallery/img-30.jpg" alt="image description">
										</a>
									</figure>
								</div>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 bt-loadmorephotographer">
								<div class="bt-album">
									<figure>
										<a href="images/gallery/img-31.jpg" data-rel="prettyPhoto[galleryvfour]">
											<img src="images/gallery/img-31.jpg" alt="image description">
										</a>
									</figure>
								</div>
							</div>
							<div class="bt-btnboxloadmore">
								<a id="bt-btnloadmorephotographer" class="bt-btn bt-btnblack bt-btnloadmore" href="javascript:void(0);"><span>load more</span></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
</section>