<section>
<div class="container-fluid">
  <div class="container">
	<div class="bt-photogallery">
       <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
           <div class="bt-pageheadcontent">
               <h2>Career at Bhaisaab Event Pvt. Ltd.</h2>
               <!-- <hr> -->
                <div class="row bo-aboutimg">
               <figure><img src="assets/images/our-story-cover1.jpg" alt="image description"></figure>
              </div>
            </div>
             <div class="bt-categoryposttitle">
                  <h3 style="text-align: center;">Is Event Management the right career for me?</h3>
              </div>
                  <p>Like many other career paths, the route to a successful occupation in the event management industry is not based on the foundation of academic laurels and certifications. However, the basic survival toolkit to get into this profession is both wide and subjective.</p>
                  <p>Your basic task is to plan and present an event in a novel way and that too from scratch. For this, you must possess the quality to think out of the box. Apart from ample creative juices, you ought to have good planning, marketing, budgeting, negotiation, client management and communication and leadership skills.</p>
                  <p>Further, you must have immense patience and insight to see right into the smallest details of the entire event management process and always stay focused on your project goals. Good networking skills, client management, business analytic, time management, ability to take on challenges, problem solving skills and adjusting to rapidly changing situations are some other qualities essential for this role.</p>
                  <div class="bt-categoryposttitle">
                  <h3 style="text-align: center;">Why Bhaisaab?</h3>
                  </div>
                  <p>Like many other career paths, the route to a successful occupation in the event management industry is not based on the foundation of academic laurels and certifications. However, the basic survival toolkit to get into this profession is both wide and subjective.</p>
                  <p>Your basic task is to plan and present an event in a novel way and that too from scratch. For this, you must possess the quality to think out of the box. Apart from ample creative juices, you ought to have good planning, marketing, budgeting, negotiation, client management and communication and leadership skills.</p>
                  <p>Further, you must have immense patience and insight to see right into the smallest details of the entire event management process and always stay focused on your project goals. Good networking skills, client management, business analytic, time management, ability to take on challenges, problem solving skills and adjusting to rapidly changing situations are some other qualities essential for this role.</p>
                  <div class="bt-categoryposttitle">
                  <h3 style="text-align: center;">Career at Bhaisaab</h3>
                  <p>Email your Resume with two recent photographs at <a href="">backstagesupporters.com , ravindry11@gmail.com</a></p>
                  </div>
                </div>
                </div>
              </div>
              </div>
  

</section>