<section>
	<div class="container-fluid">
	   <div class="container">
	      <div class="bt-photogallery">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              	<i class="icon-doc-text"></i>
                <div class="bt-pageheadcontent">
                  <h2>Privacy & Cookie Policy</h2>
              </div>
                <p>Information ex art. 13 D.lgs. 196/2003</p>
                <button class="collapsible">Information ex art. 13 D.lgs. 196/2003</button>
                <h3 style="margin-top: 30px;">Cookie Policy</h3>
				<button class="bo-collapsible">Use of cookies on this site</button>
				<button class="collapsible">What is a cookie?</button>
				<button class="bo-collapsible">Technical Cookie</button>
				<button class="collapsible">Performance Analysis Cookies</button>
				<button class="bo-collapsible">Profile Cookie</button>
				<button class="collapsible">Registered Visitors</button>
				<button class="bo-collapsible">Activation and Dis-activation of cookies on your browser</button>
				<button class="collapsible">Elimination of Flash cookies</button>
				<button class="bo-collapsible">Activation and Dis-activation of cookies</button>
          </div>
      </div>
  </div>
</div>
</section>