<section>
<div class="container-fluid">
  <div class="container">
	<div class="bt-photogallery">
       <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
           <div class="bt-pageheadcontent">
               <h2>TERMS & CONDITIONS</h2>
               <!-- <hr> -->
                <div class="row bo-aboutimg">
               <figure><img src="assets/images/our-story-cover1.jpg" alt="image description"></figure>
              </div>
            </div>
             <div class="bt-categoryposttitle">
                  <h3 style="text-align: center;">TERMS AND CONDITIONS FOR EVENT ORGANISERS</h3>
              </div>
                  <p>MeraEvents.com website ("Website") is an internet based event ticketing portal owned and operated by Versant Online Solutions Private Limited ("Company" or "Us" or "We"), a company incorporated under the laws of India, with its registered office at 2nd Floor, 3 Cube Towers, Whitefield Road, Kondapur, Hyderabad - 500 084, Telangana.</p>

                  <p>The Company provides a simple and quick means for registered users who are event Organisers and planners ("Organisers" or "you") to visit the Website, fill out a questionnaire about their event, including pricing, location, inventory, etc., and organise the Event through the Website. These Terms applies to you and your use of the Services as an Organiser.</p>

                  <p>For the Terms that apply to you and your use of the Services as a User and/or other non-Organiser user or visitor, please see User Terms.</p>

                  <div class="bt-categoryposttitle">
                  <h3 style="text-align: center;">Why Bhaisaab?</h3>
                  </div>
                  <p>The Organiser is required to read and accept all of the terms and conditions laid down in this Terms and Conditions (“Terms” or “Agreement”) and the linked Privacy Policy, before you use the applications, websites, content, products, and services (“Services”)made available to you by the Company on the Website.</p>

                  <p>The Company provides the Services to the Organiser subject to the Terms.</p>

                  <p>All information accessed or viewed by the Organiser is considered confidential and is for only authorized personal or business purposes.</p>

                  <p>These Terms are effective upon acceptance and governs the relationship between the Organiser and Company and also includes its affiliates and subsidiaries, jointly and severally) and also the use of the Website. If the Terms conflict with any other document, the Terms will prevail for the purposes of usage of the Website.</p>

                  <div class="bt-categoryposttitle">
                  <h3 style="text-align: center;"> ACCEPTANCE OF TERMS</h3>
                  <p></p>
                  <p></p>
                  <p>The Website is the property of the Company and /or its subsidiaries. By linking, referencing, using or accessing the Website, the Organiser agrees to these Terms, including agreeing to indemnify and hold harmless the Company from all claims of any nature arising from the access and use of these websites by the Organiser. These Terms may be changed at any time at the sole discretion of the Company. These Terms pertain to all Websites of the Company, including websites owned, operated or sponsored by any of the subsidiaries or affiliates of the Company.</p>

                  <p>Please read these Terms carefully. These Terms, as modified or amended from time to time, are a binding contract between the Company and the Organiser. If the Organiser visits, uses, or operates at the Website (or any future site operated by the Company), the Organiser accepts these Terms. In addition, when the Organiser uses any current or future Services of the Company or visits or uses any of the Services affiliated with the Company, the Organiser will also be subject to the guidelines and conditions applicable to such Service.</p>
                  </div>
                  <div class="bt-categoryposttitle">
                  <h3 style="text-align: center;"> MODIFIED TERMS</h3>
                  <p></p>
                  <p></p>
                  <p>The Company reserves the right at all times to discontinue or modify any of its Terms and/or the Privacy Policy as may be deemed necessary or desirable without prior notification to the Organiser. Such changes may include, among other things, the adding of certain fees or charges. Further, if the Company makes any changes to the Terms and Privacy Policy and the Organiser continues to use the Website, the Organiser is impliedly agreeing to the Terms and Privacy Policy expressed therein. Any such changes, deletions or modifications shall be effective immediately upon the Company’s posting thereof. Any use of the Website by the Organiser after such notice shall be deemed to constitute acceptance by the Organiser of such modifications.</p>
                  </div>
               </div>
             </div>
           </div>
         </div>
   </section>