<section style="background-color: #eee; padding-bottom: 40px;">
	<div class="container-fluid">
<div class="container">
	<div class="bt-photogallery">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="bt-pageheadcontent">
          <h2>Locations Coverd</h2>
	          <p>With cutting-edge proprietary systems and an unrivalled ability to address the talent, we offer expertise that is sure to align your organizational values and vision. </p>
        </div>
      </div>
  </div>
</div>
	<div class="container">
		<div class="row">	
			 <div class="col-md-3">			
				<div class="bo-occasion">
					<a href="href">
				      <img src="assets/images/locations/image-1.jpg">
				    </a>
				  <div class="centered"> Bihar</div>
				</div>
			  </div>
			   <div class="col-md-3">			
				<div class="bo-occasion">
					<a href="">
				      <img src="assets/images/locations/image-2.jpg">
				    </a>
				  <div class="centered"> Delhi</div>
				</div>
			  </div>
			  <div class="col-md-3">			
				<div class="bo-occasion">
					<a href="">
				      <img src="assets/images/locations/image-3.jpg">
				    </a>
				  <div class="centered"> Uttar Pradesh</div>
				</div>
			  </div>
			  <div class="col-md-3">			
				<div class="bo-occasion">
					<a href="">
				      <img src="assets/images/locations/image-4.jpg">
				    </a>
				  <div class="centered"> Punjab</div>
				</div>
			  </div>
			</div>
		   <div class="bo-location">
			<button class="btn">View More</button>
		</div>
       </div>
      </div>
</section>