<section style="background-color: #eee">
	<div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="bt-photogallery">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                 <div class="bt-pageheadcontent">
                  <h2>Reviews</h2>
                  <!-- <p>With cutting-edge proprietary systems and an unrivalled ability to address the talent, we offer expertise that is sure to align your organizational values and vision. Our unique approach to our professional, executive, and recruitment process allows us to address your important apprehensions and deliver proven results in a rapidly shifting landscape of human capital sector.</p> -->
                </div>
              </div>
            </div>
        </div>
    </div>
		<div class="container">
      	  <div class="container titleh">
            <div class="row">
              <div class="col-md-12">
              	<img src="assets/images/image-2.jpg" alt="Smiley face" width="150" height="100" align="left">
                <div class="container">
                  <div class="row">
                    <div class="col-md-10">
                      <p><b>Amrit</b> reviewed Ovation Inc in Vasant Kunj</p>
                      <p>Female Models for Fashion Shoot in London</p>
                      <!-- <p>f you are looking to have a light and weightless bag to carry around considering you already have a big laptop, lunch box, stationery items, and other accessories that you would normally have by default, then this bag is not for you ! Yes the bag itself is quite heavy considering the good amount of padding and the build quality of this product. So ladies and gents believe me when I say this that you do not want to have this bag on your back for very long especially if you are travelling long distances.</p> -->
                        <p><span class="fa fa-star checked"></span>
              						<span class="fa fa-star checked"></span>
              						<span class="fa fa-star checked"></span>
              						<span class="fa fa-star"></span>
              						<span class="fa fa-star"></span>(4.5) - 715 reviews</p>
                    </div>
                    <!-- <div class="col-md-2"><button class="btn btn-primary">View</button></div> -->
                  </div>
                </div>
              </div>
            </div> 
          </div>
          <div class="container titleh">
            <div class="row">
              <div class="col-md-12"><img src="assets/images/image-1.jpg" alt="Smiley face" width="150" height="100" align="left">
                <div class="container">
                  <div class="row">
                    <div class="col-md-10">
                      <p><b>Aarav Akheria</b> reviewed Ovation Inc in Vasant Kunj</p>
                      <p>Female Models for Fashion Shoot in London</p>
                      <p><span class="fa fa-star checked"></span>
            						<span class="fa fa-star checked"></span>
            						<span class="fa fa-star checked"></span>
            						<span class="fa fa-star"></span>
            						<span class="fa fa-star"></span>(4.5) - 715 reviews</p>
                    </div>
                   <!-- <div class="col-md-4"><button class="btn btn-primary">View</button></div>  -->
                </div>
              </div>
            </div> 
          </div>
        </div>
      <div class="bo-reviewbtn">
      	<button class="btn" style="background-color: #333;">View More</button>
      </div>
        </div>
  </div>
</section>