<section>
	<main id="bt-main" class="bt-main bt-haslayout">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div id="bt-content" class="bt-content">
							<div class="bt-portfolio bt-portfoliovone">
								<figure class="bt-featuredimg">
									<img src="/assets/images/portfolios/portfoliovone/img-01.jpg" alt="image description">
									<figcaption>
										<ul class="bt-postmatadata">
											<li>
												<div class="bt-authorimgname">
													<a routerLink="javascript:void(0);" tabindex="0"><img src="/assets/images/authors/img-01.jpg" alt="image description"></a>
													<span>by: <a routerLink="javascript:void(0);" tabindex="0">Jane Robinson</a></span>
												</div>
											</li>
											<li><time datetime="2011-01-01">2019 - 01 - 04</time></li>
										</ul>
									</figcaption>
								</figure>
								<div class="bt-portfolioinfo">
							<!-- 		<ul class="bt-clientinfo">
										<li>
											<span>Users Name:</span>
											<strong>Name</strong>
										</li>
										<li>
											<span>Mobile</span>
											<strong>Mobile</strong>
										</li>
									</ul> -->
									<ul class="bt-shareandlikes">
										<li>
											<div class="bt-shapreicons">
												<a routerLink="javascript:void(0);"><i class="fa fa-twitter"></i></a>
												<a routerLink="javascript:void(0);"><i class="fa fa-facebook"></i></a>
												<a routerLink="javascript:void(0);"><i class="fa fa-pinterest-p"></i></a>
											</div>
											<a class="bt-btnshare" routerLink="javascript:void(0);">
												<span class="icon-share4"></span>
												<span>Share</span>
											</a>
										</li>
										<li>
											<a routerLink="javascript:void(0);">
												<span class="icon-heart12"></span>
												<span>23</span>
											</a>
										</li>
									</ul>
								</div>
								<div class="bt-portfoliotextbox">
									<div class="bt-textbox">
										<h2>Service Info</h2>
										<div class="bt-description">
											<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
										</div>
									</div>
									<div class="bt-textbox">
										<div class="bt-description">
											<p> The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here, making it look like readable English There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form injected humour</p>
										</div>
									</div>
								</div>
								<div class="bt-portfoliotextbox">
									<h2>Services</h2>
									<div class="col-md-3 bo-portfoliotextbox ">
										 <a href="">
										 <img src="assets/images/occasion/image-1.jpg">
					                     <div class="centered">Theme based parties</div>
					                     </a>
									</div>
									<div class="col-md-3 bo-portfoliotextbox">
										<a href="">
					                     <img src="assets/images/occasion/image-2.jpg">
										 <div class="centered">Weddings</div>
										 </a>
		                             </div>
		                             <div class="col-md-3 bo-portfoliotextbox">	 
		                                 <a href="">                            	
		                                 <img src="assets/images/occasion/image-3.jpg">
				                         <div class="centered">Pre wedding shoots</div>
				                         </a>
	                                 </div>
	                                 <div class="col-md-3 bo-portfoliotextbox">
	                                 	<a href="">
	                                 	<img src="assets/images/occasion/image-4.jpg">
										<div class="centered">portfolio shoots</div>
										</a>
	                                 </div>
									<div class="col-md-3 bo-portfoliotextbox">
										<a href="">
										<img src="assets/images/occasion/image-5.jpg">
										<div class="centered">Festive Events</div>
										</a>
									</div>
									<div class="col-md-3 bo-portfoliotextbox">
										<a href="">
				                        <img src="assets/images/occasion/image-6.jpg">
										<div class="centered">Family Gatherings</div>
									    </a>
		                             </div>
		                             <div class="col-md-3 bo-portfoliotextbox">	 
		                             <a href="">
		                             	<img src="assets/images/occasion/image-7.jpg">
										<div class="centered">Corporate Sessions</div>
		                             </a>                            
	                                 </div>
	                                 <div class="col-md-3 bo-portfoliotextbox">
	                                 	<a href="">
	                                 	<img src="assets/images/occasion/image-8.jpg">
				                        <div class="centered">Corporate Events & Meetings</div>
				                        </a>
	                                 </div>
									</div>
								<div class="bt-portfoliotextbox">
									<div class="row bo-rating">
										<h2>Reviews</h2>	
										<p>Average Rating <span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>(4.5) - 715 reviews</p>								
								     <div class="col-md-3">
								     	<p><b>Amrit</b> reviewed Ovation Inc in Vasant Kunj</p>
								     	<p><span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>	
										 31st Mar, 2019</p>
										 <p>Deepak Rathore is a very good Mehndi artist and I am also a friend.</p>
										 <i onclick="myFunction(this)" class="fa fa-thumbs-up"></i>
								     </div>

								     <div class="col-md-3">
								     	<p><b>Aarav Akheria</b> reviewed Ovation Inc in Vasant Kunj</p>
								     	<p><span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>	
										 31st Mar, 2019</p>
										 <p>Amazing service . Great team and excellent decor. Enjoyed their company looking forward for the next years event.</p>
										 <i onclick="myFunction(this)" class="fa fa-thumbs-up"></i>
								     </div>
								     <div class="col-md-3">
								     	<p><b>Shivam</b> reviewed Ovation Inc in Vasant Kunj</p>
								     	<p><span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>	
										 31st Mar, 2019</p>
										 <p>I should say he is the best budding talent in the industry and his shows are absolutely mesmerising.He dives un into the surreal world and makes the viewers bewitched by amazing tricks.Highly recommended.</p>
										 <i onclick="myFunction(this)" class="fa fa-thumbs-up"></i>
								     </div>
								     <div class="col-md-3">
								     	<p><b>Avneet</b> reviewed Ovation Inc in Vasant Kunj</p>
								     	<p><span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>	
										 31st Mar, 2019</p>
										 <p>Excellent services that are professionally handled. The team is dedicated and extremely competent to handle all arenas of functionality. I m very impressed by Team Ovation.</p>
										 <i onclick="myFunction(this)" class="fa fa-thumbs-up"></i>
								     </div>
								 </div>
								
                                 </div>
								<div id="bt-portfoliovonegallery" class="bt-portfoliogallery">
									<div class="cbp-item">
										<article class="bt-album">
											<figure>
												<img src="/assets/images/portfolios/portfoliovone/img-02.jpg" alt="image description">
												<figcaption>
													<a class="bt-btnviewimg cbp-lightbox" routerLink="images/portfolios/portfoliovone/img-02.jpg" data-title="custom title 1"></a>
												</figcaption>
											</figure>
										</article>
									</div>
									<div class="cbp-item">
										<article class="bt-album">
											<figure>
												<img src="/assets/images/portfolios/portfoliovone/img-03.jpg" alt="image description">
												<figcaption>
													<a class="bt-btnviewimg cbp-lightbox" routerLink="images/portfolios/portfoliovone/img-03.jpg" data-title="custom title 2"></a>
												</figcaption>
											</figure>
										</article>
									</div>
									<div class="cbp-item">
										<article class="bt-album">
											<figure>
												<img src="/assets/images/portfolios/portfoliovone/img-04.jpg" alt="image description">
												<figcaption>
													<a class="bt-btnviewimg cbp-lightbox" routerLink="images/portfolios/portfoliovone/img-04.jpg" data-title="custom title 3"></a>
												</figcaption>
											</figure>
										</article>
									</div>
									<div class="cbp-item">
										<article class="bt-album">
											<figure>
												<img src="/assets/images/portfolios/portfoliovone/img-05.jpg" alt="image description">
												<figcaption>
													<a class="bt-btnviewimg cbp-lightbox" routerLink="images/portfolios/portfoliovone/img-05.jpg" data-title="custom title 4"></a>
												</figcaption>
											</figure>
										</article>
									</div>
									<div class="cbp-item">
										<article class="bt-album">
											<figure>
												<img src="/assets/images/portfolios/portfoliovone/img-06.jpg" alt="image description">
												<figcaption>
													<a class="bt-btnviewimg cbp-lightbox" routerLink="images/portfolios/portfoliovone/img-06.jpg" data-title="custom title 5"></a>
												</figcaption>
											</figure>
										</article>
									</div>
									<div class="cbp-item">
										<article class="bt-album">
											<figure>
												<img src="/assets/images/portfolios/portfoliovone/img-07.jpg" alt="image description">
												<figcaption>
													<a class="bt-btnviewimg cbp-lightbox" routerLink="images/portfolios/portfoliovone/img-07.jpg" data-title="custom title 6"></a>
												</figcaption>
											</figure>
										</article>
									</div>
								</div>
								<!-- <ul class="bt-postnav">
									<li>
										<h3><a routerLink="javascript:void(0);">Kids Special Photoshoot</a></h3>
										<a routerLink="javascript:void(0);">
											<i class="icon-arrow-left22"></i>
											<span>Previous Post</span>
										</a>
									</li>
									<li>
										<h3><a routerLink="javascript:void(0);">Twin Sisters Love</a></h3>
										<a routerLink="javascript:void(0);">
											<span>next Post</span>
											<i class="icon-arrow-right22"></i>
										</a>
									</li>
								</ul> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
</section>