
<section>
	<div class="container-fluid" style="background-color: #eee">
	  <div class="container">
	    <div class="row">
	      <div class="bt-photogallery">
	          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	               <div class="bt-pageheadcontent">
                  <h2>Our Services</h2>
                  <!-- <p><b>With cutting-edge proprietary systems and an unrivalled ability to address the talent, we offer expertise that is sure.</b></p> -->
                </div>
              </div>
            </div>
        </div>
     </div>
		<div class="container">
			<div class="row" style="background-color: #fff; padding: 30px;">	
				<div class="col-md-4">
				<div class="bo-profileimg">
			      <img src="assets/images/projects/image-2.jpg" alt="Snow" >
			       <p><button class="bo-profilebtn">Book now</button></p>
				</div>
			  </div>
			  <div class="col-md-8">
					<p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here, making it look like readable English There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form injected humour</p>
					<div style="text-align:right">
					<button class="btn bo-servicesbtn">View</button>
				</div>
			</div>
			</div>
	<!--	<div class="row bo-services">
				<div class="col-md-4">
					<div class="bo-project">
					  <img src="assets/images/projects/image-2.jpg" alt="Snow" >
					  <button class="btn">Book now</button>
					</div>
				</div>
				<div class="col-md-8">
					<p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here, making it look like readable English There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form injected humour</p>
					<div style="text-align:right">
					<button class="btn bo-servicesbtn">View</button>
				</div>
			</div>
			</div> -->
			<!-- <div class="row bo-services">
				<div class="col-md-4">
					<div class="bo-project">
					  <img src="assets/images/projects/image-3.jpg" alt="Snow" >
					  <button class="btn">Book Now</button>
					</div>
				</div>
				<div class="col-md-8">
					<p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here, making it look like readable English There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form injected humour</p>
					<div style="text-align:right">
					<button class="btn bo-servicesbtn">View</button>
				</div>
			</div>
			</div> -->
			<div style="text-align: center; margin-bottom: 100px; margin-top: 50px;">
				<button class="btn bo-servicesbtn">View More</button>
			</div>
		</div>
	</div> -->
</section>