 <section class="section pt-0" >
  <div class="container">
      <div class="row">
        <div class="bt-photogallery">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                 <div class="bt-pageheadcontent">
                  <h2>Service Types</h2>
                  <p>With cutting-edge proprietary systems and an unrivalled ability to address the talent, we offer expertise that is sure to align your organizational values and vision. Our unique approach to our professional, executive, and recruitment process allows us to address your important apprehensions and deliver proven results in a rapidly shifting landscape of human capital sector.</p>
                </div>
              </div>
            </div>
        </div>
    </div>
  <div class="container ">
	<div class="bt-photogallery">
	  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	    <div class="bt-pageheadcontent">
          <h2>OUR SERVICES</h2>
        </div>
    <div class="row bo-justify-content-center" >
      <div class="col-md-3 col-sm-6 mb-5" >
        <div class="card p-0  hover-shadow">
          <img class="card-img-top " src="assets/images/image-2.jpg" alt="course thumb">
          <div class="card-body">
            <ul class="list-inline mb-2">
              <li><a class="text-color" href="">DECORATION</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 mb-5">
        <div class="card p-0  hover-shadow">
          <img class="card-img-top rounded-0" src="assets/images/image-1.jpg" alt="course thumb">
          <div class="card-body">
            <ul class="list-inline mb-2">
              <li><a class="text-color" href="">ENTERTAINMENT</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 mb-5">
        <div class="card p-0  hover-shadow">
          <img class="card-img-top rounded-0" src="assets/images/image-2.jpg" alt="course thumb">
          <div class="card-body">
            <ul class="list-inline mb-2">
              <li><a class="text-color" href="">ACTIVITIES</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row bo-justify-content-center" >
      <div class="col-md-3 col-sm-6 mb-5" >
        <div class="card p-0  hover-shadow">
          <img class="card-img-top " src="assets/images/image-1.jpg" alt="course thumb">
          <div class="card-body">
            <ul class="list-inline mb-2">
              <li><a class="text-color" href="">PHOTOGRAPHER</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 mb-5">
        <div class="card p-0  hover-shadow">
          <img class="card-img-top rounded-0" src="assets/images/image-2.jpg" alt="course thumb">
          <div class="card-body">
            <ul class="list-inline mb-2">
              <li><a class="text-color" href="">BAKERY</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 mb-5">
        <div class="card p-0  hover-shadow">
          <img class="card-img-top rounded-0" src="assets/images/image-1.jpg" alt="course thumb">
          <div class="card-body">
            <ul class="list-inline mb-2">
              <li><a class="text-color" href="">RETURN GIFTS</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="bt-pageheadcontent" style="margin-top: 50px;">
      <h2>Service Description</h2>
       </div>
      <p>We are one of the leading organizations engaged in providing Visual Merchandising Services. The offered services are rendered by our experienced professionals using the latest technology in adherence with industry norms. While offering these services, our experts provide them in varied specifications and sizes so as to fulfill the needs of our customers. Besides, we offer these services to our clients at nominal prices.</p>
      <div class="bt-pageheadcontent" style="margin-top: 50px;">
      <h2>Features</h2>
      </div>
      <ul>
      	<li>Hassle free management</li>
      	<li>Bases on advanced technology</li>
      	<li>Prompt</li>
      </ul>
       </div>
     </div>
    </div>
  </div>
</section>