<section style="margin-top: 100px;">
	<div class="container-fluid">
	   <div class="container">
	    <div class="row">
	      <div class="bt-photogallery">
	          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	              <div class="bt-pageheadcontent">
                  <h2>User Details</h2>
                  <p>With cutting-edge proprietary systems and an unrivalled ability to address the talent, we offer expertise that is sure to align your organizational values and vision. Our unique approach to our professional, executive, and recruitment process allows us to address your important apprehensions and deliver proven results in a rapidly shifting landscape of human capital sector.</p>
                </div>
              </div>
            </div>
        </div>
      </div>
		<div class="container">
			<div class="row">
				  <div class="col-md-4">
				    <img src="/assets/images/profile/image-1.jpg" alt="image description">
			          </div>
				      <div class="col-md-8">
				        <div>
				          <div id="message-contact"></div>
				          <form method="post" action="" class="queryforms" id="contactform">
				            <div class="row">
				              <div class="col-md-6 col-sm-6">
				                <div class="form-group">
				                  <label>Full name:</label>
				                  <input type="text" class="form-control styled" id="name_contact" name="firstname" placeholder="name">
				                </div>
				              </div>
				              <div class="col-md-6 col-sm-6">
				                <div class="form-group">
				                  <label>DOB</label>
				                  <input type="text" class="form-control styled" id="lastname_contact" name="lastname" placeholder="DOB">
				                </div>
				              </div>
				            </div>
				            <div class="row">
				              <div class="col-md-6 col-sm-6">
				                <div class="form-group">
				                  <label>Email:</label>
				                  <input type="email" id="email_contact" name="email_contact" class="form-control styled" placeholder="name@email.com">
				                </div>
				              </div>
				              <div class="col-md-6 col-sm-6">
				                <div class="form-group">
				                  <label>Phone number:</label>
				                  <input type="text" id="phone_contact" name="mobile" class="form-control styled" placeholder="00 00 0000000">
				                </div>
				              </div>
				              <div class="col-md-6 col-sm-6">
				                <div class="form-group">
				                  <label>Service Name</label>
				                  <input type="text" id="service_contact" name="service" class="form-control styled" placeholder="used service name">
				                </div>
				              </div>
				              <div class="col-md-6 col-sm-6">
				                <div class="form-group">
				                  <label>Join Date</label>
				                  <input type="text" id="date_contact" name="mobile" class="form-control styled" placeholder="00 00 0000000">
				                </div>
				              </div>
				            </div>
				           <div class="row">
				              <div class="col-md-6">
				                <div class="form-group">
				                </div>
				                <p><input type="submit" style="background-color: #333; color: #fff" value="Submit" class="btn" id="submit-contact"></p>
				              </div>
				            </div> 
				          </form>
				        </div>
				      </div>
				  </div>
				<!-- </div>
			 </main>
		  </div> -->
 		</div>
	</div> -->
</section>