	<main id="bt-main" class="bt-main bt-haslayout">
		<div class="container">
	        <div class="bt-photogallery">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="bt-pageheadcontent">
                  <h2>Our Blog</h2>
                  <div class="bt-description">
                    <p>It is a long established fact that a reader will be distracted by the readable content</p>
                  </div>
                </div>
              </div>
		  </div>
		</div>
			<div class="container-fluid">
				<div class="container">
				<div class="bt-posts">
					<article class="bt-post">
						<figure><a href="postdetail.html"><img src="assets/images/posts/img-01.jpg" alt="image description"></a></figure>
						<div class="bt-postcontent">
							<ul class="bt-postmatadata">
								<li><span>by: <a href="javascript:void(0);">Jane Robinson</a></span></li>
								<li><time datetime="2011-01-01"><a href="javascript:void(0);">2017 - 07 - 12</a></time></li>
							</ul>
							<div class="bt-posttitle">
								<h3>Maximizing Your Creative Thinker Talent</h3>
							</div>
							<div class="bt-description">
								<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</p>
							</div>
							<a class="bt-btn bt-btnblack" href="postdetail.html"><span>explore</span></a>
						</div>
					</article>
					<article class="bt-post">
						<figure><a href="postdetail.html"><img src="assets/images/posts/img-02.jpg" alt="image description"></a></figure>
						<div class="bt-postcontent">
							<ul class="bt-postmatadata">
								<li><span>by: <a href="javascript:void(0);">Jane Robinson</a></span></li>
								<li><time datetime="2011-01-01"><a href="javascript:void(0);">2017 - 07 - 12</a></time></li>
							</ul>
							<div class="bt-posttitle">
								<h3>New level of the Photography</h3>
							</div>
							<div class="bt-description">
								<p>It is a long established fact that a reader will be distracted by the readable content</p>
							</div>
							<a class="bt-btn bt-btnblack" href="postdetail.html"><span>explore</span></a>
						</div>
					</article>
					<article class="bt-post">
						<figure><a href="postdetail.html"><img src="assets/images/posts/img-03.jpg" alt="image description"></a></figure>
						<div class="bt-postcontent">
							<ul class="bt-postmatadata">
								<li><span>by: <a href="javascript:void(0);">Jane Robinson</a></span></li>
								<li><time datetime="2011-01-01"><a href="javascript:void(0);">2017 - 07 - 12</a></time></li>
							</ul>
							<div class="bt-posttitle">
								<h3>Title With Special Characters</h3>
							</div>
							<div class="bt-description">
								<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</p>
							</div>
							<a class="bt-btn bt-btnblack" href="postdetail.html"><span>explore</span></a>
						</div>
					</article>
					<article class="bt-post">
						<figure><a href="postdetail.html"><img src="assets/images/posts/img-04.jpg" alt="image description"></a></figure>
						<div class="bt-postcontent">
							<ul class="bt-postmatadata">
								<li><span>by: <a href="javascript:void(0);">Jane Robinson</a></span></li>
								<li><time datetime="2011-01-01"><a href="javascript:void(0);">2017 - 07 - 12</a></time></li>
							</ul>
							<div class="bt-posttitle">
								<h3>Maximizing Your Creative Thinker Talent</h3>
							</div>
							<div class="bt-description">
								<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</p>
							</div>
							<a class="bt-btn bt-btnblack" href="postdetail.html"><span>explore</span></a>
						</div>
					</article>
					<article class="bt-post">
						<figure><a href="postdetail.html"><img src="assets/images/posts/img-05.jpg" alt="image description"></a></figure>
						<div class="bt-postcontent">
							<ul class="bt-postmatadata">
								<li><span>by: <a href="javascript:void(0);">Jane Robinson</a></span></li>
								<li><time datetime="2011-01-01"><a href="javascript:void(0);">2017 - 07 - 12</a></time></li>
							</ul>
							<div class="bt-posttitle">
								<h3>The Epitome of Symbiosis</h3>
							</div>
							<div class="bt-description">
								<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</p>
							</div>
							<a class="bt-btn bt-btnblack" href="postdetail.html"><span>explore</span></a>
						</div>
					</article>
					<article class="bt-post">
						<figure><a href="postdetail.html"><img src="assets/images/posts/img-06.jpg" alt="image description"></a></figure>
						<div class="bt-postcontent">
							<ul class="bt-postmatadata">
								<li><span>by: <a href="javascript:void(0);">Jane Robinson</a></span></li>
								<li><time datetime="2011-01-01"><a href="javascript:void(0);">2017 - 07 - 12</a></time></li>
							</ul>
							<div class="bt-posttitle">
								<h3>New level of the Photography</h3>
							</div>
							<div class="bt-description">
								<p>It is a long established fact that a reader will be distracted by the readable content</p>
							</div>
							<a class="bt-btn bt-btnblack" href="postdetail.html"><span>explore</span></a>
						</div>
					</article>
					<article class="bt-post">
						<figure><a href="postdetail.html"><img src="assets/images/posts/img-07.jpg" alt="image description"></a></figure>
						<div class="bt-postcontent">
							<ul class="bt-postmatadata">
								<li><span>by: <a href="javascript:void(0);">Jane Robinson</a></span></li>
								<li><time datetime="2011-01-01"><a href="javascript:void(0);">2017 - 07 - 12</a></time></li>
							</ul>
							<div class="bt-posttitle">
								<h3>Engineers by day, dreamers by night</h3>
							</div>
							<div class="bt-description">
								<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</p>
							</div>
							<a class="bt-btn bt-btnblack" href="postdetail.html"><span>explore</span></a>
						</div>
					</article>
					<article class="bt-post">
						<figure><a href="postdetail.html"><img src="assets/images/posts/img-08.jpg" alt="image description"></a></figure>
						<div class="bt-postcontent">
							<ul class="bt-postmatadata">
								<li><span>by: <a href="javascript:void(0);">Jane Robinson</a></span></li>
								<li><time datetime="2011-01-01"><a href="javascript:void(0);">2017 - 07 - 12</a></time></li>
							</ul>
							<div class="bt-posttitle">
								<h3>Passionate about design</h3>
							</div>
							<div class="bt-description">
								<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</p>
							</div>
							<a class="bt-btn bt-btnblack" href="postdetail.html"><span>explore</span></a>
						</div>
					</article>
					<article class="bt-post">
						<figure><a href="postdetail.html"><img src="assets/images/posts/img-09.jpg" alt="image description"></a></figure>
						<div class="bt-postcontent">
							<ul class="bt-postmatadata">
								<li><span>by: <a href="javascript:void(0);">Jane Robinson</a></span></li>
								<li><time datetime="2011-01-01"><a href="javascript:void(0);">2017 - 07 - 12</a></time></li>
							</ul>
							<div class="bt-posttitle">
								<h3>Maximizing Your Creative Thinker Talent</h3>
							</div>
							<div class="bt-description">
								<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</p>
							</div>
							<a class="bt-btn bt-btnblack" href="postdetail.html"><span>explore</span></a>
						</div>
					</article>
					<article class="bt-post">
						<figure><a href="postdetail.html"><img src="assets/images/posts/img-10.jpg" alt="image description"></a></figure>
						<div class="bt-postcontent">
							<ul class="bt-postmatadata">
								<li><span>by: <a href="javascript:void(0);">Jane Robinson</a></span></li>
								<li><time datetime="2011-01-01"><a href="javascript:void(0);">2017 - 07 - 12</a></time></li>
							</ul>
							<div class="bt-posttitle">
								<h3>New level of the Photography</h3>
							</div>
							<div class="bt-description">
								<p>It is a long established fact that a reader will be distracted by the readable content</p>
							</div>
							<a class="bt-btn bt-btnblack" href="postdetail.html"><span>explore</span></a>
						</div>
					</article>
					<article class="bt-post">
						<figure><a href="postdetail.html"><img src="assets/images/posts/img-11.jpg" alt="image description"></a></figure>
						<div class="bt-postcontent">
							<ul class="bt-postmatadata">
								<li><span>by: <a href="javascript:void(0);">Jane Robinson</a></span></li>
								<li><time datetime="2011-01-01"><a href="javascript:void(0);">2017 - 07 - 12</a></time></li>
							</ul>
							<div class="bt-posttitle">
								<h3>Title With Special Characters</h3>
							</div>
							<div class="bt-description">
								<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</p>
							</div>
							<a class="bt-btn bt-btnblack" href="postdetail.html"><span>explore</span></a>
						</div>
					</article>
					<article class="bt-post">
						<figure><a href="postdetail.html"><img src="assets/images/posts/img-12.jpg" alt="image description"></a></figure>
						<div class="bt-postcontent">
							<ul class="bt-postmatadata">
								<li><span>by: <a href="javascript:void(0);">Jane Robinson</a></span></li>
								<li><time datetime="2011-01-01"><a href="javascript:void(0);">2017 - 07 - 12</a></time></li>
							</ul>
							<div class="bt-posttitle">
								<h3>Maximizing Your Creative Thinker Talent</h3>
							</div>
							<div class="bt-description">
								<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</p>
							</div>
							<a class="bt-btn bt-btnblack" href="postdetail.html"><span>explore</span></a>
						</div>
					</article>
				</div>
			</div>
		</div>
		</main>